.testimonial {
  background: var(--testimonial-background);
  color: var(--testimonial-color);
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1.5rem 2rem 31px;
  box-shadow: 0 20px 50px -40px var(--veryDarkBlackishBlue);
}

.testimonial:nth-of-type(n + 3) {
  --testimonial-background: var(--white);
  --testimonial-color: var(--veryDarkGrayishBlue);
  --avatar-border-color: color-mix(in srgb, var(--white) 20%, transparent);
}

.testimonial:nth-of-type(2n + 4),
.testimonial:nth-of-type(2n) {
  --testimonial-background: var(--veryDarkGrayishBlue);
  --testimonial-color: var(--white);
  --avatar-border-color: color-mix(
    in srgb,
    var(--veryDarkBlackishBlue) 10%,
    transparent
  );
}

.testimonial:nth-of-type(4n) {
  --testimonial-background: var(--veryDarkBlackishBlue);
  --testimonial-color: var(--white);
  --avatar-border-color: color-mix(
    in srgb,
    var(--moderateViolet) 70%,
    transparent
  );
}

.testimonial:nth-of-type(1) {
  background-image: url("/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 1.5rem;

  --testimonial-background: var(--moderateViolet);
  --testimonial-color: var(--white);
  --avatar-border-color: color-mix(
    in srgb,
    var(--lightGrayishBlue) 30%,
    transparent
  );

  box-shadow: none;
}

.header {
  display: grid;
  grid-template:
    "avatar name" auto
    "avatar status" auto / auto 1fr;
  align-items: center;
  gap: 0 15px;
  margin-inline-start: -2px;
}

.avatar {
  grid-area: avatar;
  border: 2px solid var(--avatar-border-color);
  border-radius: 50%;
  width: 2rem;
  height: auto;
}

.name {
  color: var(--testimonial-color, #fff);
}

.status {
  align-self: baseline;
  font-size: 0.6875rem;
  color: color-mix(in srgb, var(--testimonial-color, #fff) 50%, transparent);
}

.preview {
  color: var(--testimonial-color, #fff);
  font-size: 1.25rem;
  letter-spacing: 0.005ch;
  font-weight: 600;
}

.quote {
  line-height: 1.39;
  color: color-mix(in srgb, var(--testimonial-color, #fff) 70%, transparent);
  padding-inline-end: 1px;
}

.testimonial:nth-of-type(1) .quote {
  padding-inline-end: 17px;
}

@media (--desktop) {
  .testimonial {
    padding: 1.5rem 2rem 2rem;
  }

  .quote {
    padding-inline-end: 0;
  }

  .testimonial:nth-of-type(1) {
    grid-area: a;
    box-shadow: 0 20px 50px -40px var(--veryDarkBlackishBlue);
    background-position: top right 5rem;

    .quote {
      padding-inline-end: 12px;
    }
  }

  .testimonial:nth-of-type(2) {
    grid-area: b;
    box-shadow: none;
  }

  .testimonial:nth-of-type(3) {
    grid-area: d;
    box-shadow: 20px 20px 50px -40px var(--veryDarkBlackishBlue);
    padding-block-end: 1.5rem;

    .quote {
      padding-block-start: 0.5rem;
    }
  }

  .testimonial:nth-of-type(4) {
    grid-area: e;
    padding-block-end: 1.5rem;

    .quote {
      padding-block-start: 0.5rem;
      padding-inline-end: 6px;
    }
  }

  .testimonial:nth-of-type(5) {
    grid-area: c;
    box-shadow: 20px 20px 50px -40px var(--veryDarkBlackishBlue);
    padding-block-end: 1.5rem;

    .quote {
      padding-block-start: 0.5rem;
    }
  }
}
